<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ConnectionString" value="Server = 172.16.148.7; Database = HyperWSN_DB; Uid = sa; Pwd = M5m4v0e0" />
  </appSettings>
</configuration>
<!--ProjectGuid: {ae01d5bf-e15a-4d7d-a4cc-f03dad472dab}-->