<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Title" value="HyperWSN Device Setup Tools"/>
    <add key ="License" value=""/>

    <add key="M9_MoveDetectThr_0" value="240"/>
    <add key="M9_StaticDetectThr_0" value="400"/>

    <add key="M9_MoveDetectThr_1" value="180"/>
    <add key="M9_StaticDetectThr_1" value="350"/>

    <add key="M9_MoveDetectThr_2" value="120"/>
    <add key="M9_StaticDetectThr_2" value="300"/>

    <add key="M9_MoveDetectThr_3" value="80"/>
    <add key="M9_StaticDetectThr_3" value="240"/>

    <add key="M9_MoveDetectThr_4" value="50"/>
    <add key="M9_StaticDetectThr_4" value="180"/>

    <!-- 设备类型与数据包类型的对应关系 -->

    <add key="M1_PKT_TYPE" value="51 5C 5D 57 53 7D 84 6D 80 81 A8 A9"/>
    <add key="AO2_PKT_TYPE" value="7A"/>
    <add key="M9_PKT_TYPE" value="77"/>
    <add key="M40_PKT_TYPE" value="7F"/>
    <add key="SK_PKT_TYPE" value="58"/>
    <add key="ESK_PKT_TYPE" value=""/>
    <add key="L1_PKT_TYPE" value="85"/>
    <add key="WP_PKT_TYPE" value="8E AA"/>
    
  </appSettings>
</configuration>