<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Title" value="HyperWSN Device Setup Tools"/>
    <add key ="License" value=""/>

    <add key="M9_MoveDetectThr_0" value="240"/>
    <add key="M9_StaticDetectThr_0" value="400"/>

    <add key="M9_MoveDetectThr_1" value="180"/>
    <add key="M9_StaticDetectThr_1" value="350"/>

    <add key="M9_MoveDetectThr_2" value="120"/>
    <add key="M9_StaticDetectThr_2" value="300"/>

    <add key="M9_MoveDetectThr_3" value="80"/>
    <add key="M9_StaticDetectThr_3" value="240"/>

    <add key="M9_MoveDetectThr_4" value="50"/>
    <add key="M9_StaticDetectThr_4" value="180"/>
    
  </appSettings>
</configuration>